* text=auto eol=lf


# git add --renormalize .

# or

# git read-tree --empty   # Clean index, force re-scan of working directory
# git add .
# git status        # Show files that will be normalized
# git commit -m "Introduce end-of-line normalization"
# git rm --cached -r .
# git reset --hard